form {
  width: min(100%, 400px);
}

textarea {
  resize: vertical;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.form-group label,
.form-group textarea,
.form-group input {
  width: 100%;
}
